[project]
	description = Cross-platform, Serial Port library written in C++
[access "refs/*"]
	owner = group user/William Woodall (wjwwood)
[access "refs/for/refs/*"]
	read = group user/William Woodall (wjwwood)
	push = group user/William Woodall (wjwwood)
	label-Code-Review = -2..+2 group user/William Woodall (wjwwood)
	label-Verified = -1..+1 group user/William Woodall (wjwwood)
	rebase = group user/William Woodall (wjwwood)
	removeReviewer = group user/William Woodall (wjwwood)
	submit = group user/William Woodall (wjwwood)
[access "refs/heads/*"]
	read = group user/William Woodall (wjwwood)
	create = group user/William Woodall (wjwwood)
	push = +force group user/William Woodall (wjwwood)
	pushMerge = group user/William Woodall (wjwwood)
[access "refs/tags/*"]
	push = +force group user/William Woodall (wjwwood)
	pushTag = group user/William Woodall (wjwwood)
	pushSignedTag = group user/William Woodall (wjwwood)
